header  {
    background: lightslategray;
    border-radius: 5px;
    }
    
    h1  {
        width: 85%;
        margin: 1% auto;
        font-family: Blippo, fantasy;
    }   
    
    #Title {
        background-color: aqua;
    }
    
    header > h3 {
        width: 85%;
        margin: 10px auto;
        font-style: italic;
        font-size: 1em;
    }
    /*
    body {
    } */
    
    h3 {font-size: 1em
    }
    main{
        width: 95%;
        padding: 4px;
        margin: 10px auto;
        background: lightslategray;
    }
    
    a:hover {
        background-color: rgb(207, 50, 10);
    }
    
    article {
        margin: 1% auto;
        border: 2px solid lightsteelblue;
        border-radius: 5px;
        width: 90%;
        background: white;
        font-family: Blippo, fantasy;
        padding: 10px;
    }
    
    article > h3{
        font-size: 1em;
    }
    
    footer {
        font-family: Blippo, fantasy;
    }