html { 
    background: url(./images/Fish_Background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header {
    width: 100%;
    margin: auto;
    margin-top: 0%;
    background-color: rgb(70, 144, 171);    
}

body {
    margin-top: 0;
}

h1 {
    color: aliceblue;
    text-shadow: 2px 2px black;
    margin-left: 20px;
    margin-bottom: 0;
    padding-top: 20px;
    font-family: 'Luckiest Guy'; font-size: 50px;
} 

h2 {
    color: aliceblue;
    text-shadow: 2px 2px black;
    height: 45px;
    width: 460px;
    margin: 0px 0px 0px 20px; 
    border: 0px; 
    font-family: 'Luckiest Guy'; font-size: 30px;
    text-align: center;
}
    
h3 {
    font-family: Garamond;
    font-size: 20px;
    margin: 0px; 
    border: 50px; 
    text-align: center;
} 

    main{
        width: 95%;
        padding: 4px;
        margin: 10px auto;
        background: rgb(70, 144, 171);
    }
    
    a:hover {
        background-color: rgb(207, 50, 10);
    }
    
    article {
        margin: 1% auto;
        border: 1px solid black;
        border-radius: 5px;
        width: 80%;
        background: white;
        font-family: Blippo, fantasy;
        padding: 50px;
    }
    
    article > h3{
        font-size: 1em;
    }
    
    footer {
        font-family: Blippo, fantasy;
    }